

.Container {
    display: flex;
    margin: 0 auto;
    width: 650px;
    padding: 30px;
}

.selector {
    background-color: #4986cc;
}

.item {
    margin-right: 25px;
}

.h1 {
    text-align: center;
    margin: 0 auto;
    width: 650px;
}

.username img {
    width: 300px;
}
.button3{
   display: block;
    margin: 10px 0 10px 0;
}